# Ignore Python virtual environments
flask_api/gfpgan_env/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore IDE/editor settings
.vscode/
*.log

# Ignore input/output images
flask_api/inputs/
flask_api/static/results/

# Node modules for frontend
frontend/node_modules/

# System files
.DS_Store
Thumbs.db
